/*Media helps in changing the styling based on the device. Here, changing the background color based on the screen width */
@media (min-width: 400px) {
  body {
    background-color: black;
    color: #ffffff;
    font-family: Harrington;
  }
}

@media (min-width: 800px) {
  body {
    background-color: slateblue;
    color: #ffffff;
    font-family: Harrington;
  }
}
/*Stying for paragraphs, headings,semantic elements,table etc. */
p {
  font-size: 20px;
}

h1 {
  text-align: center;
  display: inline-block;
}

h2 {
  font-size: 60px;
  background-color: rgb(0, 0, 0);
  width: 50%;
  margin-left: 230px;
  display: inline-block;
  transition-duration: 2s;
  transition-property: all;
}
/*color changes when mouse is hovered */
h2:hover {
  background: linear-gradient(to right, #4e33a6, #42a8dc, #71e352, #4e33a6);
}

h3 {
  font-size: 30px;
}

header {
  background-color: darkslateblue;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  float: right;
}

main {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}

label {
  font-size: 20px;
}

form {
  background-color: darkslateblue;
  display: inline-block;
}

div {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}

footer {
  background-color: darkslateblue;
  width: 100%;
  display: inline-block;
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  font-size: 30px;
  height: 90px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

table {
  background-color: darkslateblue;
  border: 2px dashed;
  border-spacing: 20px;
}
td {
  font-size: 20px;
}

a:visited {
  color: yellowgreen;
}
/*Styling with respect to ID */
#logo {
  float: left;
  margin-left: 200px;
}

#title {
  color: white;
  text-decoration: none;
}

#south-indian {
  float: left;
  margin-right: 50px;
  margin-left: 120px;
}

#south {
  position: absolute;
  top: 300px;
  left: 350px;
  background-color: black;
  padding: 5px;
  font-size: 30px;
}

#north {
  position: absolute;
  top: 300px;
  left: 950px;
  background-color: black;
  padding: 5px;
  font-size: 30px;
}
#login {
  background-color: black;
  position: absolute;
  color: white;
  display: none;
  margin-top: 25px;
  margin-left: 50%;
  font-size: 20px;
  padding: 5px;
  width: 20%;
}

#login-button {
  background-color: brown;
}

#overflow-section {
  height: 150px;
  font-size: 20px;
  overflow-y: auto;
}

p:hover #login {
  display: block;
}

/*Styling with respect to class */
.nav-links {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin: 25px 40px 20px 10px;
}

.menu-link {
  color: white;
  background-color: black;
  text-decoration: none;
  font-size: 40px;
  margin-top: 100px;
  display: inline-block;
  margin-left: 200px;
  transition-duration: 1s;
  transition-property: all;
  padding: 5px;
}
/*Styling with respect to pseudo-classes */
.menu-link:hover {
  background-color: white;
  color: black;
}

.footer-nav {
  border: none;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  margin-top: 280px;
}

.cuisine-images {
  width: 300px;
  height: 400px;
  margin: 40px;
  opacity: 50%;
  transition-duration: 0.8s;
}

.cuisine-images:hover {
  opacity: 100%;
}

.cuisine-list {
  position: relative;
  top: 250px;
  background-color: black;
  width: 50%;
  margin-left: 100px;
}
.table-image {
  width: 300px;
}
.sign-in-link {
  color: white;
}
